<div class="card mt-5">
    <div class="card-header">
        <h5 class="card-title">Thanks!</h5>
    </div>
    <div class="card-body">
        Your registration was successful. Please refer to your mailbox and confirm your email.
        <partial name="_PickupFolder" />
    </div>
</div>