<div class="card mt-5">
    <div class="card-header">
        <h5 class="card-title">Thanks!</h5>
    </div>
    <div class="card-body">
        Your registration was successful. Please click here to login <a asp-controller="Login" asp-action="Index"> here </a>.
    </div>
</div>