@{
    ViewData["Title"] = "Account locking";
}

<div class="card mt-5">
    <div class="card-header">
        <h5 class="card-title">@ViewData["Title"]</h5>
    </div>
    <div class="card-body">
        <p class="text-danger">
            This account has been temporarily locked due to several times of unsuccessful login of correct user information.
            <br />
            Please try again in a few minutes.
        </p>
    </div>
</div>