@model VerifyCodeViewModel
@{
    ViewData["Title"] = "Two-Factor validation";
}

<div class="card mt-5">
    <div class="card-header">
        <h5 class="card-title">@ViewData["Title"]</h5>
    </div>
    <div class="card-body">
        <div class="alert alert-info">
            <a href="#" class="close" data-dismiss="alert">×</a>
            <ul>
                <li>
                    An email with a new security code has now been sent to your inbox. Please enter and send this code in the current form.
                    <partial name="_PickupFolder" />
                </li>
                <li>
                    The "Save Browser" option means that on this computer and browser alone, you will not need to login to the two-step security code information the next time you log in to the system.
                </li>
            </ul>
        </div>

        <form asp-controller="TwoFactor"
              asp-action="VerifyCode"
              asp-route-returnurl="@ViewData["ReturnUrl"]"
              method="post">
            <partial name="_CustomValidationSummary" />
            <input asp-for="Provider" type="hidden" />
            <input asp-for="RememberMe" type="hidden" />
            <h4>@ViewData["Status"]</h4>
            <hr />
            <div class="form-group row">
                <label asp-for="Code" class="col-md-2 col-form-label text-md-left"></label>
                <div class="col-md-10">
                    <input asp-for="Code" dir="ltr" class="form-control" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label text-md-left"></label>
                <div class="col col-md-10">
                    <input asp-for="RememberBrowser" />
                    <label asp-for="RememberBrowser"></label>
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-md-2 col-md-10">
                    <button type="submit" class="btn btn-info col-md-2">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>