@{
    ViewData["Title"] = "Error!";
    this.Context.Response.StatusCode = (int)HttpStatusCode.InternalServerError;
}

<div class="card panel-danger mt-5">
    <div class="card-header">
        <h5 class="card-title">@ViewData["Title"]</h5>
    </div>
    <div class="card-body">
       Sorry, an error occurred while processing the current request.
        @if (User.IsInRole(ConstantRoles.Admin))
        {
            <a asp-controller="SystemLog" asp-action="Index" asp-area="@AreaConstants.AdminArea"> View a list of recorded errors. </a>
        }
    </div>
</div>