@model RoleViewModel
<partial name="_CustomValidationSummary" />
<form asp-action="Delete" method="post" class="form-horizontal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <span class="text-center">
                    Do you want to delete the role of <strong> @Model.Name </strong>?
                    <br />
                    Please note that deleting this role will disable all Authorize filters that use it.
                </span>
                <input asp-for="Id" />
                <input type="hidden" asp-for="Name">
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="submit">Submit</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            </div>
        </div>
    </div>
</form>