body {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg-image {
    background-image: url(/images/top-background.png);
    background-repeat: repeat-x;
}

#footer {
    min-height: 50px;
    vertical-align: central;
}


h3, h4, h5, h1, h6 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #E5E3E3;
}


ul.nav.navbar-nav {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.field-validation-error {
    margin-right: 7px;
}

.top5 {
    margin-top: 5px;
}

.top7 {
    margin-top: 7px;
}

.top10 {
    margin-top: 10px;
}

.top15 {
    margin-top: 15px;
}

.top17 {
    margin-top: 17px;
}

.top20 {
    margin-top: 20px;
}

.top25 {
    margin-top: 25px;
}

.top30 {
    margin-top: 30px;
}

.top35 {
    margin-top: 35px;
}

.top40 {
    margin-top: 40px;
}

.left5 {
    margin-left: 5px;
}

.left10 {
    margin-left: 10px;
}

.right2 {
    margin-right: 2px;
}

.right3 {
    margin-right: 3px;
}

.right5 {
    margin-right: 5px;
}

.right10 {
    margin-right: 10px;
}

.right100 {
    margin-right: 100px;
}

.optional-label {
    font-size: 10pt;
    color: Gray;
    margin-right: 7px;
}

.userImage {
    width: 30px;
    height: 30px;
    border: 1px solid #CECECE;
    overflow: hidden;
    margin-left: 2px;
}

.nav > li > a > img {
    height: 35px;
    width: 35px;
}

.navbar-nav > li > a {
    line-height: 40px;
}

.navbar-brand {
    font-weight: bold;
    line-height: 40px !important;
}

.dropdown-menu {
    font-size: 14px;
}

.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
    color: initial !important;
}

.list-group > .active > a, .list-group > .active > a:hover, .list-group > .active > a:focus {
    color: #fff;
    background: transparent none repeat scroll 0 0;
}

.validation-summary-valid.alert-danger {
    display: none;
}

.validation-summary-valid.alert-warning {
    display: none;
}

.panel-body {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.pagerSpan {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
    display: inline-block;
    padding: 5px 14px;
}

    .pagerSpan:hover {
        background-color: #eee;
        text-decoration: none;
    }

.radius-10 {
    border-radius: 10px !important;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border-radius: .25rem;
    margin-bottom: 1.5rem;
}

.bg-gradient-scooter {
    background: #17ead9;
    background: -webkit-linear-gradient( 45deg, #17ead9, #6078ea) !important;
    background: linear-gradient( 45deg, #17ead9, #6078ea) !important;
}

.widgets-icons-2 {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ededed;
    font-size: 27px;
    border-radius: 10px;
}

.rounded-circle {
    border-radius: 50% !important;
}

.text-white {
    color: #fff !important;
}

.ms-auto {
    margin-left: auto !important;
}

.bg-gradient-bloody {
    background: #f54ea2;
    background: -webkit-linear-gradient( 45deg, #f54ea2, #ff7676) !important;
    background: linear-gradient( 45deg, #f54ea2, #ff7676) !important;
}

.bg-gradient-ohhappiness {
    background: #00b09b;
    background: -webkit-linear-gradient( 45deg, #00b09b, #96c93d) !important;
    background: linear-gradient( 45deg, #00b09b, #96c93d) !important;
}

.bg-gradient-blooker {
    background: #ffdf40;
    background: -webkit-linear-gradient( 45deg, #ffdf40, #ff8359) !important;
    background: linear-gradient( 45deg, #ffdf40, #ff8359) !important;
}

.image-outer-container {
    margin: 10px;
    border-radius: 50%;
    position: relative;
}

.image-inner-container {
    border-radius: 50%;
    background: #cdcdcd;
}

    .image-inner-container img {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        border: 5px solid white;
        margin: 5px;
        padding: 5px;
    }

.image-outer-container .green-icon {
    background-color: #4cd137;
    position: absolute;
    right: 0px;
    bottom: 10px;
    height: 30px;
    width: 30px;
    border: 5px solid white;
    border-radius: 50%;
}

.image-outer-container .red-icon {
    background-color: #f20606;
    position: absolute;
    right: 0px;
    bottom: 10px;
    height: 30px;
    width: 30px;
    border: 5px solid white;
    border-radius: 50%;
}


.image-outer-container .yellow-icon {
    background-color: #e3e500;
    position: absolute;
    right: 0px;
    bottom: 10px;
    height: 30px;
    width: 30px;
    border: 5px solid white;
    border-radius: 50%;
}


::-webkit-scrollbar {
    width: 5px;
}


::-webkit-scrollbar-track {
    background: #ccc;
}


::-webkit-scrollbar-thumb {
    background: #888;
}


    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }


.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

    .lds-roller div {
        animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: 40px 40px;
    }

        .lds-roller div:after {
            content: " ";
            display: block;
            position: absolute;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background: #ce9100;
            margin: -4px 0 0 -4px;
        }

        .lds-roller div:nth-child(1) {
            animation-delay: -0.036s;
        }

            .lds-roller div:nth-child(1):after {
                top: 63px;
                left: 63px;
            }

        .lds-roller div:nth-child(2) {
            animation-delay: -0.072s;
        }

            .lds-roller div:nth-child(2):after {
                top: 68px;
                left: 56px;
            }

        .lds-roller div:nth-child(3) {
            animation-delay: -0.108s;
        }

            .lds-roller div:nth-child(3):after {
                top: 71px;
                left: 48px;
            }

        .lds-roller div:nth-child(4) {
            animation-delay: -0.144s;
        }

            .lds-roller div:nth-child(4):after {
                top: 72px;
                left: 40px;
            }

        .lds-roller div:nth-child(5) {
            animation-delay: -0.18s;
        }

            .lds-roller div:nth-child(5):after {
                top: 71px;
                left: 32px;
            }

        .lds-roller div:nth-child(6) {
            animation-delay: -0.216s;
        }

            .lds-roller div:nth-child(6):after {
                top: 68px;
                left: 24px;
            }

        .lds-roller div:nth-child(7) {
            animation-delay: -0.252s;
        }

            .lds-roller div:nth-child(7):after {
                top: 63px;
                left: 17px;
            }

        .lds-roller div:nth-child(8) {
            animation-delay: -0.288s;
        }

            .lds-roller div:nth-child(8):after {
                top: 56px;
                left: 12px;
            }

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
