@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<div class="card mt-5">
    <div class="card-header">
        <h5 class="card-title">@ViewData["Title"]</h5>
    </div>
    <div class="card-body">
       Please check your mailbox to recover your password.
        <partial name="_PickupFolder" />
    </div>
</div>