@{
    ViewData["Title"] = "Reset Password Confirmation";
}

<div class="card mt-5">
    <div class="card-header">
        <h5 class="card-title">@ViewData["Title"]</h5>
    </div>
    <div class="card-body">
       Your password has changed. Please click here to login <a asp-controller="Login" asp-action="Index"> here </a>.
    </div>
</div>