@{
    ViewData["Title"] = "No Access!";
    this.Context.Response.StatusCode = (int)HttpStatusCode.Unauthorized;
}

<div class="card panel-danger mt-5">
    <div class="card-header">
        <h5 class="card-title">@ViewData["Title"]</h5>
    </div>
    <div class="card-body">
        Sorry, you do not have permission to access the requested page.
    </div>
</div>