@model PagedUsersListViewModel

@{
    ViewData["Title"] = "User management";
}


<a class="btn btn-success btn-sm" asp-action="Index" asp-controller="Register">Add New User</a>


<div id="gridcontainer" class="mt-5">
    <partial name="_UsersList" model="Model" />
</div>