@model PasswordResetViewModel
@{
    Layout = "~/Areas/Admin/Views/EmailTemplates/_EmailsLayout.cshtml";
}
&nbsp; Hi
<br />
&nbsp; Someone has requested to recover your forgotten password. If this request belongs to you, please click on the link below:
<br />
<div align="center" dir="rtl" style="font-family: Tahoma; font-size: 9pt">
    <div align="center">
        <a href="@Url.Action("ResetPassword","ForgotPassword", values: new { userId = Model.UserId, code = Model.Token, area = AreaConstants.AdminArea }, protocol: this.Context.Request.Scheme)">
            Reset Password
        </a>
    </div>
</div>
<br />
<br />
&nbsp;Regards
<br />
&nbsp;<a style="direction:ltr" href="@Url.Action("Index", "Home", values: new { area = "" }, protocol: this.Context.Request.Scheme)">@Model.EmailSignature</a>
<br />
<span lang="en" dir="ltr">
    &nbsp;&nbsp;
    @Model.MessageDateTime
</span>
<br />
