@model List<IndexersViewModel>
@if (Model.Any())
{
	@foreach (var item in Model)
	{
		<div class="card bg-secondary text-white mb-1 mt-5">
			<div class="card-body">@item.NameServer</div>
		</div>
		foreach (var indexer in item.Indexers)
		{
			<div class="row mb-1">
				<div class="col-12">
					<ul class="list-group">
						@{
							var icon = indexer.Online ? "fas fa-check-circle text-success" : "fas fa-times-circle text-danger";
						}
						<li class="list-group-item list-group-item-action">
							
							<div class="d-flex justify-content-between">
								<div>
									<i class="@icon mx-3"></i> @indexer.Url
								</div>
								<div>
									@indexer.Query
								</div>
							</div>


						</li>
					</ul>
				</div>
			</div>
		}

	}
}