@{
    ViewData["Title"] = "Blockcore Status";
}

<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Blockcore Repositories</h1>
    <p class="lead">View blockcore repositories information</p>
</div>
    <cache expires-after="@TimeSpan.FromMinutes(30)">
        <vc:github-organization-info org-name="block-core"></vc:github-organization-info>
    </cache>