@{
    ViewData["Title"] = "Confirm user profile";
}

<div class="card mt-5">
    <div class="card-header">
        <h5 class="card-title">@ViewData["Title"]</h5>
    </div>
    <div class="card-body">
        Thanks. Your user information has been successfully verified.
        @if (!User.Identity.IsAuthenticated)
        {
            <span> Please click here to Login <a asp-controller="Login" asp-action="Index"> here </a>. </span>
        }
    </div>
</div>