@model IEnumerable<GithubRepository>

@{
    var id = (string)this.Context.GetRouteValue("Id");
    var orgId = int.Parse(id);

    ViewData["Title"] = "Repository List";
}

<div class="card flex-md-row box-shadow">
    
    <div class="card-body d-flex flex-column align-items-start">
@foreach (var item in Model)
{

    <div>
        <input type="checkbox" name="Repositories" value="@item.Id" />
        @item.RepositoryName
    </div>
    <br />
}
    </div>
</div>



